<!DOCTYPE html>
<html>
<head>
  <title>Shop</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to "Products", products_path %>
<%= link_to "Categories", categories_path %>
<%= link_to "Prices", prices_path %>
<%= yield %>

</body>
</html>
